[include]
	path = ~/.gitconfig-default

# Override for dotfiles directory only
[includeIf "gitdir:~/.dotfiles/"]
	path = ~/.gitconfig-personal

[init]
	defaultBranch = main
[core]
	editor = vim
	autocrlf = false
	pager = batcat
[push]
	autoSetupRemote = true
[pull]
	rebase = true
