[user]
	name = Dalton Dayton
	email = 50755420+DaltonDayton@users.noreply.github.com
	signingkey = /home/dalton/.ssh/id_ed25519
[init]
	defaultBranch = main
[core]
	editor = nvim
	autocrlf = false
	pager = bat
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
